spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/sardor
    password: sardor2003
    username: postgres
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: true